<!DOCTYPE html>
<html lang="ru-RU">

<head>
	<title>Название страницы</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<%- include('parts/head') %>
</head>

<body>
	<%- include('parts/menu')%>
		<main class="main-container">
			Содержимое страницы
		</main>
		<%- include('parts/foot') %>
</body>

</html>
